#logo{
    max-width: 268px;
    max-height: 33px;
}
.navbar {
display: flex;
justify-content: space-around;

}
.navbar> ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width:20%;
   
}
.navbar ul li a{
    text-decoration: none;
    color: #ababab;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    font-style: bold; 
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.menu{
    position: relative;
}

.submenu{
   display: none ;
   width: 210px;
   height: 220px;
   background-color: white;
   text-align: center;  
}
.submenu li  {
    padding-top: 20px;
    text-align: left;
}
.submenu:hover{
    box-shadow: 5px 5px 5px #c2c1c1;
}
.menu:hover .submenu{
    display: block;
    position: absolute;
}
.navbar ul li a:hover {
    color: #00b39b;
  }
  .navbar ul li  a:visited{
    color: #00b39b;
  }
  header{
      background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
#logo1{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.main1 h1 {
    text-align: center;
    padding: 20px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #00b39b;
    font-size: 2.125rem;
    font-weight: 300;
    letter-spacing: .3px;
}
.par{
    display: inline-block;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
    font-size: 18px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 10px;
    line-height: 1.75;
    font-weight: 400;
}
.par #p1 {
    width: 50%;
   float: left;
   min-height: 1px;

}
.par #p2 {
    width: 50%;
    float: right;
    min-height: 1px;  
}
.box{
    display: flex;
    justify-content: space-around;
}
.box h5{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color:  hsla(0,0%,100%,.7)  ; 
}
.box1{
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 250px;
    border:none #00ccb1;
    border-radius: 15px;
    background-color: #00ccb1;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 7px;
    max-width: 410px;
    max-height: 410px;
    overflow: hidden;
}
.box2{
    margin-top: 40px;
    margin-right: 250px;
    border:none #3d83df;
    border-radius: 15px;
    background-color: #3d83df;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 7px;
    max-width: 50%;
    overflow: hidden;
    max-width: 410px;
}
.pc{
    max-width: 380px;
    max-height: 380px;
}
.a{
    font-size: 28px;
    /* width: 450px; */
    /* margin-top: 8px; */
    margin-bottom: 26px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
    text-align: justify;
    color: white;
}
.b{
    width: 420px;
    /* margin-top: 8px; */
    margin-bottom: 26px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
    font-size: 28px;
    text-align: justify;
    color: white;
}
.box1 .pc{
    padding-left: 180px ;
}
.box2 .pc{
    padding-left: 180px ;
}
.box1 #select{
   font-style: bold;
   font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
   border: solid white;
   padding: 5px;
   border-radius: 5px;
}
.main2 h1{
max-width: 300px;
margin-left: 260px;
margin-top: 50px;
margin-bottom: 50px;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight: 300;
letter-spacing: .3px;
color:#00b39b ;
}
.main2{
    display: flex;
}
.main2 img{
    width: 20px;
    height: 20px;
}
.main2 ul {
   display: flex;
   padding-top: 20px;
   flex-wrap: wrap;
   max-width: 600px;
}
.main2 li{
    padding: 10px;
}
.main2 a{
    text-decoration: none;
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 400;
    box-sizing: border-box;
}
.main2 a:hover{
    color: #00b39b ;
}
.main3{
    background: #DBF7F6;
    text-shadow: none;
    max-height: 600px;
    overflow: hidden;
}
.main3 h1{
    padding-top: 70px;
  
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
    color: #00b39b;
    font-size: 40px;
}
.main30 {
   text-align: center;
   
    /* font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
    color: #747474;  */
}
.main3 p{
   
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
    color: #747474;
}
.main3 .logo{
  
    padding-top: 30px;

}
.main31{
    display: grid;
    grid-template-columns: 200px 50px 200px;
    grid-template-rows: 200px 100px 200px;
    margin-top: 10px;
}
.c{

border: none;
border-radius: 5px;
background-color:white ;
width: 200px;
height: 250px;
text-align: center;
padding: 5px;
grid-column: 1 / 1;
grid-row: 1 / 1;
}
.d{
    border: none;
    border-radius: 5px;
    background-color:white ;
    width: 200px;
    height: 250px;
    text-align: center;
    padding: 5px;
    grid-column: 3 / 3;
    grid-row: 1 / 1 ;
    }
    .e{
        border: none;
        border-radius: 5px;
        background-color:white ;
        width: 200px;
        height: 250px;
        text-align: center;
        padding: 5px;
        grid-column: 1 / 1;
         grid-row: 3 / 3;
        }
        .f{
            border: none;
            border-radius: 5px;
            background-color:white ;
            width: 200px;
            height: 250px;
            text-align: center;
            padding: 5px;
            grid-column: 3 / 3;
            grid-row: 3 / 3;
            }
.main3{
    display: flex;
    justify-content: space-around;
}
.main31 h3 {
    color: #00b39b;
    font-size: 23px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;

}
.main31 p {
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
    font-size: 16px;
}
.main4 h2 {
    text-align: center;
    padding-top: 50px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #00b39b;
    font-size: 2.1428571429em;
    font-weight: 300;
    letter-spacing: .3px;  
}
.main4 p {
    margin: 1.6em 0;
    max-width: 460px;
    max-height: 72px;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align: center;
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
    line-height: 1.7;
    font-weight: 400;
}
.main5{
    display: grid;
    grid-template-columns: 320px 20px 320px 20px 320px;
    grid-template-rows: 320px 100px 320px;
    margin-bottom: 200px;
    margin-left: 260px;
}   
.g{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    border:  1px solid rgba(0,0,0,.03);
    background-color: white;
    height: 385px;
    max-width: 310px;
    border-radius: 5px;
    overflow: hidden;
}
.g:hover{
    box-shadow: 5px 5px 5px #c2c1c1;
    z-index: 2;
}
.h{
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    border:  1px solid rgba(0,0,0,.03);
    background-color: white;
    height: 385px;
    max-width: 310px;
    border-radius: 5px;
    overflow: hidden;
}
.h:hover{
    box-shadow: 5px 5px 5px #c2c1c1;
    z-index: 2;
}
.i{
    grid-column: 5 / 5;
    grid-row: 1 / 1;
    border:   1px solid rgba(0,0,0,.03);
    background-color: white;
    height: 385px;
    width: 310px;
    border-radius: 5px;
    overflow: hidden;
}
.i:hover{
    box-shadow: 5px 5px 5px #c2c1c1;
    z-index: 2;
}
.j{
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    border:   1px solid rgba(0,0,0,.03);
    background-color: white;
    height: 385px;
    border-radius: 5px;
    overflow: hidden;
    width: 310px;
}
.j:hover{
    box-shadow: 5px 5px 5px #c2c1c1;
    z-index: 2;
}
.k{
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    border:   1px solid rgba(0,0,0,.03);
    background-color: white;
    height: 385px;
    width: 310px;
    border-radius: 5px;
    overflow: hidden;
}
.k:hover{
    box-shadow: 5px 5px 5px #c2c1c1;
    z-index: 2;
}
.l{
    grid-column: 5 / 5;
    grid-row: 3 / 3;
    border: 1px solid rgba(0,0,0,.03);
    background-color: white;
    height: 385px;
    width: 310px;
    border-radius: 5px;
    overflow: hidden;
}.l:hover{
    box-shadow: 5px 5px 5px #c2c1c1;
    z-index: 2;
}
.main5 h2 {
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
    padding-top: 5px;
    font-size: 24px;
}
.city a{
    text-decoration: none;
}
.main5 .city{
    display: flex;
    justify-content: space-between;
    width: 270px;
}
.city .link{
    margin-top:10px ;
    border: #3d83df ;
    font-size: 14px ;
    max-height: 33px;
    width: 110px;
    border-radius: 5px;
    background: #3d83df;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    text-align: center;
    padding-top: 15px;
}
.city .link:hover{
    color: white;
    background-color:#205caa ;
}
footer{
    border-top: 1px solid #eef2f2;
    font-size: 15px;
    color: #ababab;
    text-align: center;
}